#delCCLayer{
    display: none;
}




#box{
    box-sizing: border-box;
}

#drag, #upload, #url{
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
    cursor: pointer;
    border-radius: 2vw;
    float: left;
    width: 33%;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

#drag{
    background-image: url('/imgs/cursor.svg');
}

#upload{
    background-image: url('/imgs/upload.svg');
}

#url{
    background-image: url('/imgs/link.svg');
}

#drag p{
    display: none;
}

#upload p{
    display: none;
}

#photoUpload{
    display: none;
}

#url #urlBlock{
    display: none;
}




.hiddenMobile{
    display: none;
    opacity: 0;
}

.revealedMobile{
    display: block;
    opacity: 1;
}

.mobileBox {
    position: absolute;
    width: 95vw;
    height: 95vh;
    top: 2.5vh;
    left: 2.5vh;
    background-color: rgb(10, 10, 10);
    box-sizing: border-box;
    padding: 1vh 1vw;
    border-radius: 2vh;
    box-shadow: 0 0 1vh rgb(235, 235, 235);
    transition: opacity 0.3s ease 0s;
}

.mobileClose{
    position: absolute;
    width: 33vw;
    height: 93vh;
    top: 1vh;
    right: 1vw;
    background-image: url('/imgs/delete.svg');
    background-size: 65% auto;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 2vh;
}

.mobileArea{
    position: absolute;
    width: 59vw;
    height: 93vh;
    top: 1vh;
    left: 1vw;
    border: dashed 2px rgb(255, 255, 255);
    box-sizing: border-box;
    display: table;
    border-radius: 2vh;
    padding: 0 5%;
}




#dragArea p{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: Montserrat;
    font-size: 1.3rem;
    width: 90%;
    text-align: center;
}





#uploadArea p{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: Montserrat;
    font-size: 1.3rem;
    text-align: center;
}

#uploadArea input{
    position: absolute;
    width: 59vw;
    height: 93vh;
    box-sizing: border-box;
    background-color: red;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
    top: 0;
    left: 0;
    border-radius: 2vh;
}





#urlArea #urlBlock{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: Montserrat;
    font-size: 1.3rem;
    text-align: center;
}

#urlArea input{
    box-sizing: border-box;
    background-color: rgb(169, 255, 169);
    border-radius: 1vh;
    border: medium none;
    font-size: 1.2rem;
    margin: 3vh 0;
    display: block;
    width: 100%;
    line-height: 3rem;
    padding: 0 1vh;
    text-align: center;
}




#playground{
    margin: 0 auto 0 1vw;
}

#canvasContainer{
    box-sizing: border-box;
    width: 100%;
}

#controlsContainer{
    box-sizing: border-box;
    width: 100%;
    border-radius: 1vh 1vh 0 0;
    overflow: hidden;
}

#mainControls{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-around;
    margin: 2vh 0;
}

.mainControlsButton{
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    background-color: rgb(30, 30, 30);
    transition: background-color 0.3s ease-out 0s;
}

.mainControlsButton:active{
    background-color: black;
}

#download{
    background-image: url('/imgs/download.svg');
}

#addNewPart{
    background-image: url('/imgs/add.svg');
}

#panelContainer {
    width: 100%;
    box-sizing: border-box;
}




.panel{
    width: 100%;
    margin: 0 0 2vh 0;
    box-sizing: border-box;
    border-radius: 1vh;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
}

.panelHeader{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
}

.panelHeaderWallpIcon{
    background-image: url('/imgs/wallpIcon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 3rem;
    height: 3rem;
    margin: 1vh;
}

.panelHeaderDel{
    background-image: url('/imgs/delete2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 3rem;
    height: 3rem;
    margin: 1vh;
}

.panelBodyWallpFilters{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.panelGrayscaleButton{
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    background-color: gray;
    margin: 1vh;
    border-radius: 500px;
    box-shadow: 0 0 0.5vh black;
}

.panelSepiaButton{
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    background-color: #704214;
    margin: 1vh;
    border-radius: 500px;
    box-shadow: 0 0 0.5vh black;
}




.brightnessContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.brightnessIcon{
    width: 3rem;
    height: 3rem;
    background-image: url('/imgs/brightness.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.brightnessRange{
    width: 70%;
    height: 3rem;
}

.rangerUndo{
    width: 10%;
    height: 3rem;
    background-image: url('/imgs/undo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}




.blurContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.blurIcon{
    width: 3rem;
    height: 3rem;
    background-image: url('/imgs/blur.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.blurRange{
    width: 70%;
    height: 3rem;
}




.panelHeaderTextIcon{
    background-image: url('/imgs/text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 3rem;
    height: 3rem;
    margin: 1vh;
}

.panelInputText{
    display: block;
    width: 95%;
    margin: 1vh auto;
    border: medium none;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 0 1vh;
    box-sizing: border-box;
    border-radius: 0.5vh;
    background-color: rgb(235, 235, 235);
    color: rgb(10, 10, 10);
    font-family: Montserrat, "sans serif";
}




.fontSizeRangeContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.panelInputColor{
    border: medium none;
    width: 3rem;
    height: 3rem;
}

.fontSizeRange{
    width: 70%;
    height: 3rem;
}




.fontStrokeRangeContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.fontSizeRangeIcon{
    width: 10%;
    height: 3rem;
    background-image: url('/imgs/text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.fontStrokeRange{
    width: 70%;
    height: 3rem;
}




.bgRangeContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.bgRange{
    width: 70%;
    height: 3rem;
}




.fontWeightRangeContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.fontWeightRangeIcon{
    width: 3rem;
    height: 3rem;
    background-image: url('/imgs/bold.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.fontWeightRange{
    width: 70%;
    height: 3rem;
}




.panelHeaderCCIcon{
    background-image: url('/imgs/cc.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 3rem;
    height: 3rem;
    margin: 1vh;
}




#delCCLayer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#delCCWindow {
    width: 96vw;
    height: 96vh;
    position: absolute;
    top: 2vh;
    left: 2vw;
    background-color: black;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 2vh rgba(255, 255, 255, 0.1);
}

#delCCIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 96vh;
    background-image: url('/imgs/sad1.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    border-right: solid 1px lime;
    box-sizing: border-box;
}

#delCCText {
    position: absolute;
    top: 0;
    right: 0;
    width: 76vw;
    height: 76vh;
    border-bottom: solid 1px lime;
    box-sizing: border-box;
}

#delCCText h2{
    color: rgb(0, 255, 0);
    font-family: "Space Mono";
    padding: 0 1vh 0 3vh;
    font-weight: normal;
    font-size: 10vh;
    letter-spacing: -1px;
    line-height: 12vh;
}

#delCCText p{
    color: rgb(235, 235, 235);
    font-family: "Space Mono";
    padding: 0 1vh 0 3vh;
    font-weight: normal;
    font-size: 0.9rem;
    letter-spacing: -1px;
    line-height: 1rem;
    width: 76vw;
    height: 64vh;
    box-sizing: border-box;
    position: absolute;
    top: 12vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#delCCControls{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 30vh;
    box-sizing: border-box;
}

#delCCdelete {
    position: absolute;
    width: 20vw;
    height: 15vh;
    bottom: 2.5vh;
    right: 46.5vw;
    background-color: rgb(255, 40, 40);
    border: medium none;
    border-radius: 1vh;
    font-size: 1rem;
    font-family: "Space Mono";
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

#delCCkeep {
    position: absolute;
    width: 20vw;
    height: 15vh;
    bottom: 2.5vh;
    right: 7.5vw;
    background-color: rgb(40, 255, 40);
    border: medium none;
    border-radius: 1vh;
    font-size: 1rem;
    font-family: "Space Mono";
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}




.mainControlsDropDownContainer{
    width: 100vw;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.98);
    height: 100vh;
    padding: 0 0 0 0;
    position: fixed;
    z-index: 2;
    box-shadow: 0 -10px 10px -7px rgb(127, 235, 127) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.mainControlsOptionsHeader {
    width: 6rem;
    margin: 2vh auto;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: Montserrat;
    color: rgb(235, 235, 235);
    border-radius: 1vh;
    background-position: center 0.5rem;
    background-repeat: no-repeat;
    padding: 4rem 0 0 0;
    text-align: center;
    box-shadow: 0 0 0.5vh rgb(127, 235, 127);
    height: 6rem;
    background-size: 3rem;
}

#newPartText {
    background-image: url('/imgs/text.svg');
}

#newPartDraw {
    background-image: url('/imgs/pencil.svg');
}

#newPartExplain {
    color: white;
    font-family: Montserrat;
    font-size: 1rem;
    width: 80%;
    position: absolute;
    top: 0;
    text-align: center;
    box-shadow: 0 0 0.5vh rgb(127, 235, 127);
    margin: 1rem auto;
    line-height: 2rem;
}