#delCCLayer{
    display: none;
}




#box{
    box-sizing: border-box;
}

#drag, #upload, #url{
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
    cursor: pointer;
    border-radius: 2vw;
    float: left;
    width: 33%;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

#drag{
    background-image: url('/imgs/cursor.svg');
}

#upload{
    background-image: url('/imgs/upload.svg');
}

#url{
    background-image: url('/imgs/link.svg');
}

#drag p{
    display: none;
}

#upload p{
    display: none;
}

#photoUpload{
    display: none;
}

#url #urlBlock{
    display: none;
}




.hiddenMobile{
    display: none;
    opacity: 0;
}

.revealedMobile{
    display: block;
    opacity: 1;
}

.mobileBox {
    position: absolute;
    width: 95vw;
    height: 95vh;
    top: 2.5vh;
    left: 2.5vh;
    background-color: rgb(10, 10, 10);
    box-sizing: border-box;
    padding: 1vh 1vw;
    border-radius: 2vh;
    box-shadow: 0 0 1vh rgb(235, 235, 235);
    transition: opacity 0.3s ease 0s;
}

.mobileClose{
    position: absolute;
    width: 33vw;
    height: 93vh;
    top: 1vh;
    right: 1vw;
    background-image: url('/imgs/delete.svg');
    background-size: 65% auto;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 2vh;
}

.mobileArea{
    position: absolute;
    width: 59vw;
    height: 93vh;
    top: 1vh;
    left: 1vw;
    border: dashed 2px rgb(255, 255, 255);
    box-sizing: border-box;
    display: table;
    border-radius: 2vh;
    padding: 0 5%;
}




#dragArea p{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: Montserrat;
    font-size: 1.3rem;
    width: 90%;
    text-align: center;
}





#uploadArea p{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: Montserrat;
    font-size: 1.3rem;
    text-align: center;
}

#uploadArea input{
    position: absolute;
    width: 59vw;
    height: 93vh;
    box-sizing: border-box;
    background-color: red;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
    top: 0;
    left: 0;
    border-radius: 2vh;
}





#urlArea #urlBlock{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: Montserrat;
    font-size: 1.3rem;
    text-align: center;
}

#urlArea input{
    box-sizing: border-box;
    background-color: rgb(169, 255, 169);
    border-radius: 1vh;
    border: medium none;
    font-size: 1.2rem;
    margin: 3vh 0;
    display: block;
    width: 100%;
    line-height: 3rem;
    padding: 0 1vh;
    text-align: center;
}




#playground{
    margin: 0 auto;
}

#canvasContainer{
    box-sizing: border-box;
    width: 100%;
}

#controlsContainer{
    box-sizing: border-box;
    width: 100%;
    border-radius: 1vh 1vh 0 0;
    overflow: hidden;
}