#box{
    position: absolute;
    height: 92vh;
    top: 7vh;
    left: 4vw;
    overflow: hidden;
    z-index: 4;
}

#drag, #upload, #url{
    position: absolute;
    box-sizing: border-box;
    border-radius: 500vw;
    background-color: rgb(10, 10, 10);
    border: dashed 3px white;
    cursor: pointer;
    transition: background-position 0.4s ease 0s, background-size 0.4s ease 0s, background-color 0.4s ease 0s, left 0.3s ease 0s, top 0.3s ease 0.3s, bottom 0.3s ease 0.6s, border 0.4s ease 0s, box-shadow 0.4s ease 0s;
}

#drag{
    width: 92vh;
    height: 92vh;
    top: 0;
    left: -100vh;
    display: flex;
    display: -webkit-flex; 
    background-image: url(/imgs/cursor.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center center;
}

#upload{
    width: 45vh;
    height: 45vh;
    bottom: -46vh;
    right: 12vh;
    display: flex;
    display: -webkit-flex; 
    background-image: url(/imgs/upload.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center center;
}

#url{
    width: 55vh;
    height: 55vh;
    top: -56vh;
    right: 0;
    display: flex;
    display: -webkit-flex; 
    background-image: url(/imgs/link.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center center;
    overflow: hidden;
}

#drag:hover, #upload:hover{
    background-position: center 25%;
    background-size: 10%;
    background-color: rgb(10, 10, 10);
}

#url:hover{
    background-position: center 25%;
    background-size: 0%;
    background-color: rgb(10, 10, 10);
}

#drag p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 235, 235);
    font-size: 1em;
    margin: auto;
    width: 80%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    display: block;
}

#upload p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 235, 235);
    font-size: 1em;
    margin: auto;
    width: 80%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    display: block;
}

#url #urlBlock{
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 235, 235);
    font-size: 1em;
    margin: auto;
    width: 80%;
    text-align: center;
    opacity: 0;
    display: block;
    transition: opacity 0.3s ease 0s;
}

#url #urlBlock input{
    border-radius: 0.5vh;
    border: medium none;
    padding: 0.5vh;
    margin: 1vh 0 0 0;
    width: 100%;
    box-sizing: border-box;
}

#drag:hover p, #upload:hover p, #url:hover #urlBlock{
    opacity: 1;
}

#photoUpload{
    position: absolute;
    width: 45vh;
    height: 45vh;
    box-sizing: border-box;
    background-color: red;
    opacity: 0;
    cursor: pointer;
    display: block;
}

#controlsBox{
    
}






#playground{
    position: absolute;
    height: 92vh;
    top: 7vh;
    left: 4vw;
    overflow: hidden;
    z-index: 4;
}

#playground #canvasContainer{
    position: absolute;
    box-sizing: border-box;
    width: 74%;
    top: 0;
    left: 0;
    height: 92vh;
}

#playground #canvasContainer .canvas-container{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 1vh black;
}

#playground #controlsContainer{
    position: absolute;
    box-sizing: border-box;
    width: 25%;
    top: 0;
    right: 0;
    height: 92vh;
    border-radius: 1vh 1vh 0 0;
    overflow: hidden;
}

#playground #controlsContainer #mainControls{
    width: 100%;
    box-sizing: border-box;
    border-radius: 1vh;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-around;
    height: 6vh;
    margin: 0 0 2vh 0;
    z-index: 3;
    position: absolute;
}

#panelContainer {
    position: absolute;
    top: 8vh;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 0 1vw 0 0;
    height: 84vh;
}

#playground #controlsContainer #mainControls #deleteAll{
    width: 4vh;
    height: 4vh;
    margin: 1vh;
    background-image: url('/imgs/delete.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

#playground #controlsContainer #addNewPartContainer{
    width: 100%;
    height: 6vh;
    margin: 1vh auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

#playground #controlsContainer #addNewPartContainer #addNewTextPart{
    width: 4vh;
    height: 4vh;
    box-sizing: border-box;
    background-image: url('/imgs/text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    margin: 1vh 0 0 0;
}

#playground #controlsContainer #addNewPartContainer #addNewDrawPart{
    width: 4vh;
    height: 4vh;
    box-sizing: border-box;
    background-image: url('/imgs/pencil.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    margin: 1vh 0 0 0;
}






.panel{
    width: 100%;
    margin: 0 auto 2vh 0;
    box-sizing: border-box;
    border-radius: 1vh;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
}

.panelHeader{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease 0s;
}

.panelHeaderWallpIcon{
    background-image: url('/imgs/wallpIcon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 4vh;
    height: 4vh;
    margin: 1vh;
}

.panelHeaderCCIcon{
    background-image: url('/imgs/cc.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 4vh;
    height: 4vh;
    margin: 1vh;
}

.panelHeaderTextIcon{
    background-image: url('/imgs/text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 4vh;
    height: 4vh;
    margin: 1vh;
}

.panelHeaderDel{
    background-image: url('/imgs/delete2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 4vh;
    height: 4vh;
    margin: 1vh;
    cursor: pointer;
}

.panelInputText{
    display: block;
    width: 95%;
    margin: 1vh auto;
    border: medium none;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 1vh;
    box-sizing: border-box;
    border-radius: 0.5vh;
    background-color: rgb(235, 235, 235);
    color: rgb(10, 10, 10);
    font-family: Montserrat, "sans serif";
}

.panelInputColor{
    border: medium none;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    opacity: 0;
}

.panelBodyWallpFilters{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.panelGrayscaleButton{
    box-sizing: border-box;
    width: 3vh;
    height: 3vh;
    background-color: gray;
    margin: 1vh;
    border-radius: 500px;
    box-shadow: 0 0 0.5vh black;
    cursor: pointer;
}

.panelSepiaButton{
    box-sizing: border-box;
    width: 3vh;
    height: 3vh;
    background-color: #704214;
    margin: 1vh;
    border-radius: 500px;
    box-shadow: 0 0 0.5vh black;
    cursor: pointer;
}




.brightnessContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.brightnessIcon{
    width: 10%;
    height: 3vh;
    background-image: url('/imgs/brightness.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.brightnessRange{
    width: 70%;
    height: 3vh;
}




.blurContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.blurIcon{
    width: 10%;
    height: 3vh;
    background-image: url('/imgs/blur.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.blurRange{
    width: 70%;
    height: 3vh;
}




.fontSizeRangeContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.fontSizeRangeIcon{
    width: 10%;
    height: 3vh;
    background-image: url('/imgs/text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.fontSizeRange{
    width: 70%;
    height: 3vh;
}




.bgRangeContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.bgRange{
    width: 70%;
    height: 3vh;
}




.fontStrokeRangeContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.fontSizeRangeIcon{
    width: 10%;
    height: 3vh;
    background-image: url('/imgs/text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.fontStrokeRange{
    width: 70%;
    height: 3vh;
}




.fontWeightRangeContainer{
    width: 95%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.fontWeightRangeIcon{
    width: 10%;
    height: 3vh;
    background-image: url('/imgs/bold.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.fontWeightRange{
    width: 70%;
    height: 3vh;
}




.rangerUndo{
    width: 10%;
    height: 3vh;
    background-image: url('/imgs/undo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}




#delCCLayer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#delCCLayer #delCCWindow {
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
    background-color: black;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 2vh rgba(255, 255, 255, 0.1);
}

#delCCLayer #delCCWindow #delCCIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 80vh;
    background-image: url('/imgs/sad1.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    border-right: solid 1px lime;
    box-sizing: border-box;
}

#delCCLayer #delCCWindow #delCCText {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 50vh;
    border-bottom: solid 1px lime;
    box-sizing: border-box;
}

#delCCLayer #delCCWindow #delCCText h2{
    color: lime;
    font-family: "Space Mono";
    padding: 1vh 0 1vh 3vh;
    font-weight: normal;
    font-size: 2em;
    letter-spacing: -1px;
}

#delCCLayer #delCCWindow #delCCText p{
    color: #ebebeb;
    font-family: "Space Mono";
    padding: 1vh 0 1vh 3vh;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: -1px;
}

#delCCLayer #delCCWindow #delCCControls{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 30vh;
    box-sizing: border-box;
}

#delCCLayer #delCCWindow #delCCdelete {
    position: absolute;
    width: 20vw;
    height: 25vh;
    bottom: 2.5vh;
    right: 27.5vw;
    background-color: rgb(255, 40, 40);
    border: medium none;
    border-radius: 1vh;
    font-size: 2em;
    font-family: "Space Mono";
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

#delCCLayer #delCCWindow #delCCkeep {
    position: absolute;
    width: 20vw;
    height: 25vh;
    bottom: 2.5vh;
    right: 2.5vw;
    background-color: rgb(40, 255, 40);
    border: medium none;
    border-radius: 1vh;
    font-size: 2em;
    font-family: "Space Mono";
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

#delCCLayer #delCCWindow #delCCdelete:hover{
    background-color: rgb(255, 0, 0);
}

#delCCLayer #delCCWindow #delCCkeep:hover{
    background-color: rgb(0, 255, 0);
}

#delCCLayer #delCCWindow #delCCdelete:hover ~ #delCCIcon{
    background-image: url('/imgs/sad2.svg');
}

#delCCLayer #delCCWindow #delCCkeep:hover ~ #delCCIcon{
    background-image: url('/imgs/heart.svg');
}




.mainControlsDropDownContainer{
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.98);
    height: 92vh;
    padding: 8vh 0 0 0;
    position: absolute;
    z-index: 2;
    top: -92vh;
    box-shadow: 0 -10px 10px -7px rgb(127, 235, 127) inset;
    display: block;
    transition: top 0.3s ease 0s;
}

#newPartsContainer{
    
}






.mainControlsButton{
    width: 4vh;
    height: 4vh;
    padding: 1vh;
    background-repeat: no-repeat;
    background-size: 4vh;
    background-position: center center;
    cursor: pointer;
    background-color: rgb(30, 30, 30);
    transition: background-color 0.3s ease-out 0s;
}

.mainControlsButton:hover{
    background-color: black;
}

#addNewPart{
    background-image: url('/imgs/add.svg');
}

#shareSocial{
    background-image: url('/imgs/social.svg');
}

#download{
    background-image: url('/imgs/download.svg');
}

#exportToSvg{
    background-image: url('/imgs/export.svg');
}






.mainControlsOptionsHeader{
    width: 90%;
    margin: 2vh auto;
    box-sizing: border-box;
    font-size: 3vh;
    line-height: 4vh;
    font-family: Montserrat;
    color: rgb(235, 235, 235);
    border-radius: 1vh;
    background-position: 1vh center;
    background-repeat: no-repeat;
    padding: 1vh 1vh 1vh 1vh;
    text-align: center;
    box-shadow: 0 0 0.5vh rgb(127, 235, 127);
    cursor: pointer;
    transition: box-shadow 0.3s ease 0s;
    height: 6vh;
    background-size: 4vh;
}

.mainControlsOptionsHeader:hover {
    box-shadow: 0 0 1vh rgb(127, 235, 127);
}

#newPartText {
    background-image: url('/imgs/text.svg');
}

#newPartDraw {
    background-image: url('/imgs/pencil.svg');
}

#newPartExplain{
    display: none;
}

#newPartExit{
    display: none;
}

#shareSocialFacebook {
    background-image: url('/imgs/facebookBlue.svg');
    box-shadow: 0 0 0.5vh rgb(66, 103, 178);
}

#shareSocialFacebook:hover {
    box-shadow: 0 0 1vh rgb(66, 103, 178);
}

#shareSocialTwitter {
    background-image: url('/imgs/twitterColor.svg');
    box-shadow: 0 0 0.5vh rgb(29, 161, 242);
}

#shareSocialTwitter:hover {
    box-shadow: 0 0 1vh rgb(29, 161, 242);
}




#dragMobile{
    display: none;
}




.inputColorContainer {
    background-color: #ffffff;
    width: 3vh;
    height: 3vh;
    margin: 0 1vh 0 0;
}




input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 3vh;
    width: 3vh;
    border-radius: 500px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -1.5vh;
    box-shadow: 0px 0px 1px #000000; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    height: 3vh;
    width: 3vh;
    border-radius: 500px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 1px solid #000000;
    height: 3vh;
    width: 3vh;
    border-radius: 500px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 95%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 95%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}




input[type=range]::-webkit-slider-runnable-track {
  width: 95%;
  height: 1px;
  cursor: pointer;
  background: #ffffff;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  width: 95%;
  height: 1px;
  cursor: pointer;
  background: #ffffff;
}

input[type=range]::-ms-track {
  width: 95%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ffffff;
  border: 0px solid #010101;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #010101;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}




.textPanelHorizontal{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.fontFamilyButton{
    box-sizing: border-box;
    width: 3vh;
    height: 3vh;
    margin: 1vh 0 0 0;
    cursor: pointer;
    background-image: url('/imgs/fontFamily.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 1px #ebebeb;
    transition: box-shadow 0.3s ease 0s;
}




.fontFamilySelect {
    display: block;
    width: 95%;
    margin: 1vh auto;
    border: medium none;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 1vh;
    box-sizing: border-box;
    border-radius: 0.5vh;
    background-color: rgb(127, 235, 127);
    color: rgb(10, 10, 10);
    font-family: Montserrat, "sans serif";
    text-align: center;
    outline: medium none;
}

.fontFamilySelect option{
    text-align: center;
}

.fontFamilySelect:focus {
    outline: none;
}